<html>
<head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>scrap-ticketsystem</title>
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/22484b22ca.js" crossorigin="anonymous"></script>
    <script>
        function allowDrop(allowDropEvent) {
          allowDropEvent.preventDefault();
        }

        function drag(dragEvent) {
          dragEvent.dataTransfer.setData("text", dragEvent.target.id);
        }

        function drop(dropEvent) {
          dropEvent.preventDefault();
          var data = dropEvent.dataTransfer.getData("text");
          dropEvent.target.appendChild(document.getElementById(data));
        }
    </script>
    {% assets "css/style.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

</head>
<body>

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if login %}
        {% block login %}{% endblock %}
    {% else %}
        <div class="row">
            <div class="col-sm-2">
                <div class="card" style="height: 100%">
                    <div class="card-header text-center">
                        Menü
                    </div>
                    <div class="card-body">

                        <ul class="nav flex-column">
                            {% if subsite %}
                                <li class="nav-item">
                                    <a class="nav-link card-text" href="/">Zurück</a>
                                </li>

                                {% if ticket %}
                                    <li class="nav-item">
                                        <hr>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link card-text" href="./{{ _ticket }}/update">Bearbeiten</a>
                                    </li>
                                {% endif %}

                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link card-text" href="/create_ticket">Ticket anlegen</a>
                                </li>
                                {% if user_group == "admin" %}
                                    <li class="nav-item">
                                        <a class="nav-link card-text" href="/kanban/all">Alle Tickets anzeigen</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link card-text" href="/kanban/my">Alle Tickets anzeigen</a>
                                    </li>
                                {% endif %}

                                {% if user_group == "admin" %}
                                    <li class="nav-item">
                                        <hr>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link card-text" href="/manage_user">User verwalten</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link card-text" href="/manage_category">Kategorie verwalten</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link card-text" href="/manage_prio">Priorität verwalten</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link card-text" href="/manage_status">Status verwalten</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <hr>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link card-text" href="/logout">Logout</a>
                                </li>
                                </ul>
                            {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-sm-10">

                <div class="card d-flex justify-content-center">

                    <div class="card-header text-center">
                        {% block headercontent %}{% endblock %}
                    </div>

                    <div class="card-body">
                        <div class="container">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
                <br>
                {% block subcontent %}{% endblock %}

            </div>
        </div>
        </div>

    {% endif %}
</body>
</html>