{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col" aria-hidden="true">
            <h4>Meine Tickets</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Header</th>
                    <th scope="col">Prio</th>
                    <th scope="col">Category</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in my_tickets %}
                    <tr onclick="window.location='/ticket/{{ ticket['id'] }}'">
                        <td>{{ ticket['header'] }}</td>
                        <td style="color: {{ ticket['color'] }}">{{ ticket['p.text'] }}</td>
                        <td> {{ ticket['c.text'] }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <h4>Zu bearbeitende Tickets</h4>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Header</th>
                        <th scope="col">Prio</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in ass_tickets %}
                        <tr onclick="window.location='/ticket/{{ ticket['id'] }}'">
                            <td>{{ ticket['header'] }}</td>
                            <td style="color: {{ ticket['color'] }}">{{ ticket['p.text'] }}</td>
                            <td> {{ ticket['c.text'] }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if user_group == "admin" %}


            <div class="col">
                <h4>Nicht zugewiesene Tickets</h4>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Header</th>
                            <th scope="col">Prio</th>
                            <th scope="col">Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in not_ass_tickets %}
                            <tr onclick="window.location='/ticket/{{ ticket['id'] }}'">
                                <td>{{ ticket['header'] }}</td>
                                <td style="color: {{ ticket['color'] }}">{{ ticket['p.text'] }}</td>
                                <td> {{ ticket['c.text'] }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}