{% extends "base.html" %}

{% block headercontent %}

    <ul class="nav nav-tabs">
        {% if user_group == "admin" %}
            <li class="nav-item">
                {% if tab == "all" %}
                    <a class="nav-link active" href="/kanban/all">Alle Tickets</a>
                {% else %}
                    <a class="nav-link" href="/kanban/all">Alle Tickets</a>
                {% endif %}
            </li>
        {% endif %}
        <li class="nav-item">
            {% if tab == "my" %}
                <a class="nav-link active" href="/kanban/my">Meine Tickets</a>
            {% else %}
                <a class="nav-link" href="/kanban/my">Meine Tickets</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if tab == "edit" %}
                <a class="nav-link active" href="/kanban/edit">Zu bearbeitende Tickets</a>
            {% else %}
                <a class="nav-link" href="/kanban/edit">Zu bearbeitende Tickets</a>
            {% endif %}

        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="row">
        {% for lane in status %}
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <h5 class="card-header" style="color: {{ lane['color'] }}"> {{ lane['text'] }} </h5>
                    </div>
                    <div id="status_{{ lane['id'] }}" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">
                        {% if lane['tickets'] %}
                            {% for ticket in lane['tickets'] %}
                                <span id="{{ ticket['id'] }}" draggable="true" ondragstart="drag(event)" onclick="window.location='/ticket/{{ ticket['id'] }}'">
                                    <h5 class="card-title"> {{ ticket['header'] }} </h5>
                                    <small>erstellt von:</small>
                                    <small class="creator">{{ ticket['email'] }}</small>
                                    <br>
                                    <small>bearbeitet:</small>
                                    <small class="creator">{{ ticket['a.email'] }}</small>
                                </span>
                                <hr>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}