{% extends "base.html" %}

{% block login %}
    <div class="login justify-content-center">
        <div class="card" style="width: 50%">
            <div class="card-header">
                Sign In
            </div>
            <div class="card-body">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="card-text"> {{ form.email.label }} </p>
                    <p> {{ form.email(size=32, class_="form-control") }} </p>

                    <p class="card-text">  {{ form.passwort.label }} </p>
                    <p> {{ form.passwort(size=32, class_="form-control") }} </p>

                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit(class_="btn btn-outline-success") }}</p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
